[Binary]
custom=
timewarp=

[Description]
custom=
timewarp=

[EnabledTypes]
custom=
timewarp=

[FolderName]
custom=

[FolderUse]
custom=subfolder

[Output]
custom=
timewarp=

[Param1List]
custom=
timewarp=

[Param1Name]
custom=
timewarp=

[Param1Type]
custom=file
timewarp=file

[Param2List]
custom=
timewarp=

[Param2Name]
custom=
timewarp=

[Param2Type]
custom=file
timewarp=file

[Parameters]
custom=
timewarp=
